extends ./layout.pug
block contenido
  section.container-fluid.home-news
    .row.align-items-center.py-md-5.py-sm-.py-4
      .col-md-6.col-12
        .destacados-1.bg-white.p-4.box-shadow.mb-sm-2.mb-md-0.mb-2
          img(src='../assets/img/02.jpg')
          .filter-image
          .ir.d-flex.align-items-center.justify-content-center
            a.d-flex.align-items-center(href='#')
              i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
              p.mb-0 VER MÁS
          h1 sdfdsfsdfsdf
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ratione ipsam, ad officia modi quidem asperiores veritatis sit debitis, earum accusamus quisquam adipisci in maiores sapiente perspiciatis aut, alias dicta.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem placeat harum repellat, asperiores repellendus, incidunt maiores quod perspiciatis ipsa suscipit, provident quasi magni blanditiis fuga libero animi velit molestias mollitia!
      .col-md-6.col-12
        .w-100.bg-white.mb-2.destacados-2.box-shadow.p-3
          img(src='../assets/img/03.jpg')
          .filter-image
          .ir.d-flex.align-items-center.justify-content-center
            a.d-flex.align-items-center(href='#')
              i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
              p.mb-0 VER MÁS
          h4 sdffsdfdfsdffd
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem commodi, aut, rerum suscipit, autem ullam numquam quasi deserunt tenetur nisi rem? Nulla ex natus vero necessitatibus. Ipsum aspernatur expedita numquam.
        .w-100.bg-white.d-flex
          .bg-white.destacados-3.mr-2.box-shadow.p-3
            img(src='../assets/img/01.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER MÁS
            h6 loremmmmmmmmmm
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .bg-white.destacados-3.mr-2.box-shadow.p-3
            img(src='../assets/img/02.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER MÁS
            h6 loremmmmmmmmmm
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
          .bg-white.destacados-3.box-shadow.p-3
            img(src='../assets/img/01.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER MÁS
            h6 loremmmmmmmmmm
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.

  section.ultimos-artistas.bg-gris-claro
    .container
      .row.justify-content-center.py-md-5.py-sm-4.py-4
        h4.w-100.pl-3.titulo.mb-4 Últimos artistas
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario puede ser mas grande
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 GRAFFITERO
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 GRAFFITERO
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 BEATMAKER
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        a(href='#')
          h5.mt-4 VER MÁS
  section.sec-repro
    .container.py-md-5.py-sm-4.py-4
      h4.w-100.titulo.mb-4 TOP 10 
      .row.justify-content-center.mx-0
        .d-flex.w-25.bg-dark.orden.flex-column
          h6.w-100.px-4.py-3 ORDEN
          .fila-orden.px-4.py-2
            p TOP ALBUM
          .fila-orden.px-4.py-2
            p TOP CANCIÓN
          .fila-orden.px-4.py-2
            p TOP ARTISTA
          .fila-orden.px-4.py-2
            p TOP AÑO
          .fila-orden.px-4.py-2
            p TOP MES
          .fila-orden.px-4.py-2
            p TOP SEMANA
          .fila-orden.px-4.py-2
            p TOP TODOS LOS TIEMPOS
        .d-flex.w-75.listado-top.flex-column
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 1
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza mas larga con muchos caracteres para sobrepasar todo y ver que pasas
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 2
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 3
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 4
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 5
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 6
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza mas larga con muchos caracteres para sobrepasar todo y ver que pasas
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 7
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 8
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 9
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex.align-items-right
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
          .px-2.d-flex.fila-top.align-items-center.justify-content-between
            .d-flex.align-items-center.w-5.mr-2.justify-content-center
              .badge.d-flex.justify-content-center.align-items-center 10
            .d-flex.flex-column.w-100
              h5.mb-0 El rapero favorito
              p.mb-0 Cancion de la tristeza
            .d-flex
              img(src='../assets/img/back-mc.jpg')
            .d-flex.px-2.align-items-center
              p.mb-0.mr-1 300
              i.fa.fa-play-circle(aria-hidden='true')
      a.text-center(href='#')
        h5.mt-4 VER MÁS
  section.bg-oscuro.ultimos-artistas
    .container.py-md-5.py-sm-4.py-4
      h4.w-100.titulo.mb-4 TOP 10 
      .row.justify-content-center.mx-0
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        .col-md-2.col-sm-4.col-6
          .artista.w-100.box-shadow.mb-md-0.mb-sm-2.mb-2
            img(src='../assets/img/03.jpg')
            .filter-image
            .ir.d-flex.align-items-center.justify-content-center
              a.d-flex.align-items-center(href='#')
                i.fa.fa-plus.mt-1.mr-2(aria-hidden='true') 
                p.mb-0 VER ARTISTA
            p.text-center.pt-4.text-uppercase nombre usuario
            h5.w-100.text-center.py-2.mb-0 MC
        a(href='#')
          h5.mt-4 VER MÁS