html(lang='es-CL', xmlns:og='http://opengraphprotocol.org/schema/', xmlns:fb='http://ogp.me/ns/fb#')
  head
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(property='og:url', content='http://cremaschi.cl/es/entrada-7/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Cremaschi Furlotti obtiene medalla de oro en “Carmenère al Mundo 2016”')
    meta(property='og:description', content='')
    meta(property='og:image', content='http://cremaschi.cl/wp-content/uploads/2016/08/2016-10-14-16.04.16.jpg')
    meta(name='theme-color', content='#721f1f')
    meta(name='description', itemprop='description', content='')
    link(rel='icon', type='image/png',href='/img/icon-rap.png')
    title Home | Cassetera
    link(href='../assets/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(href='../assets/css/style.css', rel='stylesheet')
  body.bg-light
    header.box-shadow
      .w-100.info-head.text-center
        p.mb-0.py-2.px-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt orci non nulla varius efficitur. Sed vestibulum quis orci eget mollis. Mauris dictum pretium felis
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='#') R A P E R I T I S
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Link
            //- li.nav-item
            //-   a.nav-link.disabled(href='#') Disabled
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-warning.my-2.my-sm-0(type='submit') Search
    main
      block contenido
    footer
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')